.kpi-card {
  padding: 16px;
  border-radius: var(--corner-radius-corner-radius-l);
  box-shadow: var(--box-shadow-default-shadow-color) 0px 2px 10px 0px;
}

.kpi-card.success {
  background-color: var(--brand-colors-success-100);
}

.kpi-card.danger {
  background-color: var(--brand-colors-danger-100);
}

.kpi-card.warning {
  background-color: var(--brand-colors-warning-100);
}

.kpi-card.info {
  background-color: var(--brand-colors-info-100);
}

.kpi-card .kpi-change {
  color: inherit;
}

.kpi-card.success .kpi-change {
  color: var(--brand-colors-success-500);
}

.kpi-card.danger .kpi-change {
  color: var(--brand-colors-danger-500);
}

.kpi-card.warning .kpi-change {
  color: var(--brand-colors-warning-500);
}

.kpi-card.info .kpi-change {
  color: var(--brand-colors-info-500);
}

.kpi-card-content {
  display: flex;
  flex-direction: column;
}

.kpi-value {
  font-size: var(--font-size-body-default);
  font-weight: bold;
}

.kpi-change {
  font-size: var(--font-size-H5);
}