:root {
  --brand-colors-primary: #070C31;
  --font-color-body-default-dark: #000000;
  --font-color-body-default-light: #FFFFFF;
  --font-color-body-default-disabled: #B6B8BE;
  --font-size-H1: 40px;
  --font-size-H2: 32px;
  --font-size-H3: 28px;
  --font-size-H4: 24px;
  --font-size-H5: 20px;
  --font-size-H6: 16px;
  --font-size-body-default: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;
  --brand-colors-secondary: #FFFFFF;
  --brand-colors-tertiary: #3456DA;
  --brand-colors-success: #05994A;
  --brand-colors-warning: #FFC229;
  --brand-colors-danger: #B61C2D;
  --brand-colors-black: #000000;
  --brand-colors-grey: #B6B8BE;
  --brand-colors-500: #B6B8BE;
  --brand-colors-100: #FCFDFF;
  --brand-colors-300: #E7E8EB;
  --brand-colors-200: #F0F2F8;
  --brand-colors-400: #D2D4DC;
  --brand-colors-800: #63656A;
  --brand-colors-600: #9C9EA2;
  --brand-colors-700: #7B7C81;
  --brand-colors-900: #3A3A3A;
  --brand-colors-white: #FFFFFF;
  --brand-colors-info: #38AAF4;
  --brand-colors-link: #3C59E7;
  --corner-radius-corner-radius-none: 0;
  --corner-radius-corner-radius-xs: 2px;
  --corner-radius-corner-radius-s: 4px;
  --corner-radius-corner-radius-m: 8px;
  --corner-radius-corner-radius-l: 16px;
  --corner-radius-corner-radius-xl: 24px;
  --brand-colors-primary-100: #CAD1F4;
  --brand-colors-primary-200: #9AA6EA;
  --brand-colors-primary-300: #5D6CC1;
  --brand-colors-primary-400: #2E3A83;
  --brand-colors-primary-500: #070C31;
  --brand-colors-primary-600: #05092A;
  --brand-colors-primary-700: #030623;
  --brand-colors-primary-800: #02041C;
  --brand-colors-primary-900: #010217;
  --brand-colors-tertiary-100: #D6E1FD;
  --brand-colors-tertiary-200: #AEC3FB;
  --brand-colors-tertiary-300: #84A0F3;
  --brand-colors-tertiary-400: #6381E8;
  --brand-colors-tertiary-500: #3456DA;
  --brand-colors-tertiary-600: #2641BB;
  --brand-colors-tertiary-700: #1A2F9C;
  --brand-colors-tertiary-800: #10207E;
  --brand-colors-tertiary-900: #091568;
  --brand-colors-warning-100: #FFF7D4;
  --brand-colors-warning-200: #FFEEA9;
  --brand-colors-warning-300: #FFE17E;
  --brand-colors-warning-400: #FFD55E;
  --brand-colors-warning-500: #FFC229;
  --brand-colors-warning-700: #B77F14;
  --brand-colors-warning-600: #DB9F1D;
  --brand-colors-warning-800: #93610D;
  --brand-colors-warning-900: #7A4C07;
  --brand-colors-success-100: #ECFFEE;
  --brand-colors-success-200: #96F4A5;
  --brand-colors-success-300: #5EE080;
  --brand-colors-success-400: #35C168;
  --brand-colors-success-500: #05994A;
  --brand-colors-success-600: #03834C;
  --brand-colors-success-700: #026E4A;
  --brand-colors-success-800: #026E4A;
  --brand-colors-success-900: #00493F;
  --brand-colors-danger-100: #FFDEE2;
  --brand-colors-gray-100: #FCFDFF;
  --brand-colors-gray-200: #F0F2F8;
  --brand-colors-gray-300: #E7E8EB;
  --brand-colors-gray-400: #D2D4DC;
  --brand-colors-gray-500: #B6B8BE;
  --brand-colors-gray-600: #9C9EA2;
  --brand-colors-gray-700: #7B7C81;
  --brand-colors-gray-800: #63656A;
  --brand-colors-gray-900: #3A3A3A;
  --brand-colors-danger-200: #FFA8B2;
  --brand-colors-danger-300: #FF6375;
  --brand-colors-danger-400: #DA2034;
  --brand-colors-danger-500: #B61C2D;
  --brand-colors-danger-600: #A61122;
  --brand-colors-danger-700: #8C0D1B;
  --brand-colors-danger-800: #730A15;
  --brand-colors-danger-900: #590710;
  --box-shadow-default-shadow-color: #D2D4DC;
  --box-shadow-default-shadow-x: 0;
  --box-shadow-default-shadow-y: 2px;
  --box-shadow-default-shadow-blur: 10px;
  --box-shadow-default-shadow-spread: 0;

  /* Alerts */
  --alert-warning: var(--brand-colors-warning-100);
  --alert-danger: var(--brand-colors-danger-100);
  --alert-default: var(--brand-colors-gray-100);
  --alert-success: var(--brand-colors-success-100);
  --alert-info: var(--brand-colors-tertiary-100);

  /* Buttons */
  /* Button Variables */
  --button-primary: var(--brand-colors-primary);
  --button-secondary: var(--brand-colors-secondary);
  --button-success: var(--brand-colors-success);
  --button-danger: var(--brand-colors-danger);
  --button-warning: var(--brand-colors-warning);
  --button-info: var(--brand-colors-info);
  --button-tertiary: var(--brand-colors-tertiary);
  --button-disabled: var(--brand-colors-gray-300);
}