:root {
  --brand-colors-primary: #4F52BD;
  --font-color-body-default-dark: #181A1F;
  --font-color-body-default-light: #FFFFFF;
  --font-color-body-default-disabled: #9AA1AF;
  --font-size-H1: 32;
  --font-size-H2: 24;
  --font-size-H3: 20;
  --font-size-H4: 18;
  --font-size-H5: 16;
  --font-size-H6: 14;
  --font-size-body-default: 16;
  --font-size-small: 12;
  --brand-colors-secondary: #FFFFFF;
  --brand-colors-tertiary: #3456DA;
  --brand-colors-success: #51AE00;
  --brand-colors-warning: #F0E000;
  --brand-colors-danger: #E42338;
  --brand-colors-black: #181A1F;
  --brand-colors-grey: #9698A4;
  --brand-colors-500: #B6B8BE;
  --brand-colors-100: #FCFDFF;
  --brand-colors-300: #E7E8EB;
  --brand-colors-200: #F0F2F8;
  --brand-colors-400: #D2D4DC;
  --brand-colors-800: #63656A;
  --brand-colors-600: #9C9EA2;
  --brand-colors-700: #7B7C81;
  --brand-colors-900: #3A3A3A;
  --brand-colors-white: #FFFFFF;
  --brand-colors-info: #38AAF4;
  --brand-colors-link: #3C59E7;
  --corner-radius-corner-radius-none: 0;
  --corner-radius-corner-radius-xs: 4px;
  --corner-radius-corner-radius-s: 4px;
  --corner-radius-corner-radius-m: 4px;
  --corner-radius-corner-radius-l: 4px;
  --corner-radius-corner-radius-xl: 4px;
  --brand-colors-primary-100: #D1D2EE;
  --brand-colors-primary-200: #D1D2EE;
  --brand-colors-primary-300: #8789D2;
  --brand-colors-primary-400: #8789D2;
  --brand-colors-primary-500: #4F52BD;
  --brand-colors-primary-600: #333579;
  --brand-colors-primary-700: #333579;
  --brand-colors-primary-800: #1D1E46;
  --brand-colors-primary-900: #1D1E46;
  --brand-colors-tertiary-100: #D6E1FD;
  --brand-colors-tertiary-200: #AEC3FB;
  --brand-colors-tertiary-300: #84A0F3;
  --brand-colors-tertiary-400: #6381E8;
  --brand-colors-tertiary-500: #3456DA;
  --brand-colors-tertiary-600: #2641BB;
  --brand-colors-tertiary-700: #1A2F9C;
  --brand-colors-tertiary-800: #10207E;
  --brand-colors-tertiary-900: #091568;
  --brand-colors-warning-100: #FBF7BF;
  --brand-colors-warning-200: #FBF7BF;
  --brand-colors-warning-300: #FBF7BF;
  --brand-colors-warning-400: #FBF7BF;
  --brand-colors-warning-500: #F0E000;
  --brand-colors-warning-700: #AFA400;
  --brand-colors-warning-600: #AFA400;
  --brand-colors-warning-800: #AFA400;
  --brand-colors-warning-900: #AFA400;
  --brand-colors-success-100: #D2EABC;
  --brand-colors-success-200: #D2EABC;
  --brand-colors-success-300: #D2EABC;
  --brand-colors-success-400: #D2EABC;
  --brand-colors-success-500: #51AE00;
  --brand-colors-success-600: #3B7F00;
  --brand-colors-success-700: #3B7F00;
  --brand-colors-success-800: #3B7F00;
  --brand-colors-success-900: #3B7F00;
  --brand-colors-danger-100: #FFCCD2;
  --brand-colors-gray-100: #FFFFFF;
  --brand-colors-gray-200: #F0F1F5;
  --brand-colors-gray-300: #F0F1F5;
  --brand-colors-gray-400: #F0F1F5;
  --brand-colors-gray-500: #9698A4;
  --brand-colors-gray-600: #575F6E;
  --brand-colors-gray-700: #575F6E;
  --brand-colors-gray-800: #474D5A;
  --brand-colors-gray-900: #181A1F;
  --brand-colors-danger-200: #FFCCD2;
  --brand-colors-danger-300: #FFCCD2;
  --brand-colors-danger-400: #FFCCD2;
  --brand-colors-danger-500: #E42338;
  --brand-colors-danger-600: #CC293C;
  --brand-colors-danger-700: #CC293C;
  --brand-colors-danger-800: #CC293C;
  --brand-colors-danger-900: #CC293C;
  --box-shadow-default-shadow-color: rgba(23, 40, 52, 0.08);
  --box-shadow-default-shadow-x: 0;
  --box-shadow-default-shadow-y: 4;
  --box-shadow-default-shadow-blur: 8;
  --box-shadow-default-shadow-spread: 0;

  /* Alerts */
  --alert-warning: var(--brand-colors-warning-100);
  --alert-danger: var(--brand-colors-danger-100);
  --alert-default: var(--brand-colors-gray-100);
  --alert-success: var(--brand-colors-success-100);
  --alert-info: var(--brand-colors-tertiary-100);

  /* Buttons */
  /* Button Variables */
  --button-primary: var(--brand-colors-primary);
  --button-secondary: var(--brand-colors-secondary);
  --button-success: var(--brand-colors-success);
  --button-danger: var(--brand-colors-danger);
  --button-warning: var(--brand-colors-warning);
  --button-info: var(--brand-colors-info);
  --button-tertiary: var(--brand-colors-tertiary);
  --button-disabled: var(--brand-colors-gray-300);
}