<div class="alert"
     [ngClass]="[
         'alert-' + variant,
         'd-flex',
         'flex-column',
         'w-100',
     ]" role="alert">

  <div class="d-flex">
    <div class="d-flex flex-column">
      <div class="alert-title d-flex align-items-center">
        <ng-container *ngIf="icon">
          <i class="bi fs-4 me-2" [ngClass]="icon"></i>
        </ng-container>
        <h4 class="mb-0">{{ title }}</h4>
      </div>
      <div class="alert-subtitle ms-2 mt-2">
        <div>{{ subtitle }}</div>
      </div>
      <div class="alert-impact ms-2 mt-2">
        <div>{{ impact }}</div>
      </div>
    </div>

    <div class="d-flex align-items-center ms-auto">
      <app-button
        [variant]="variant === 'danger' ? 'danger' : 'primary'"
        (click)="resolveAction()">
        {{ buttonText }}
      </app-button>
    </div>
  </div>
</div>
