.alert {
  font-size: var(--font-size-body-default);
  border-radius: var(--corner-radius-corner-radius-l);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  margin-bottom: 0;
}

.alert-primary {
  background-color: var(--alert-default);
  color: var(--button-primary);
  border-color: var(--brand-colors-primary);
}

.alert-secondary {
  background-color: var(--alert-default);
  color: var(--button-primary);
  border-color: var(--brand-colors-secondary);
}

.alert-danger {
  background-color: var(--alert-danger);
  border-color: var(--brand-colors-danger);
}

.alert-warning {
  background-color: var(--alert-warning);
  color: var(--button-secondary);
  border-color: var(--brand-colors-warning);
}

.alert-info {
  background-color: var(--alert-info);
  color: var(--button-secondary);
  border-color: var(--brand-colors-info);
}

.alert-success {
  background-color: var(--alert-success);
  color: var(--button-secondary);
  border-color: var(--brand-colors-success);
}

.alert-title {
  font-weight: bold;
  color: var(--font-color-body-default-dark);

  i {
    color: var(--brand-colors-danger);
    font-size: var(--font-size-H4);
  }
}

.alert-subtitle {
  font-size: var(--font-size-H5);
  color: var(--brand-colors-gray-800);
}

.alert-impact {
  font-size: var(--font-size-body-default);
  color: var(--brand-colors-danger-500);
}
