<main class="main">

  <select (change)="switchTheme($event)">
    <option value="riministreet">RiminiStreet</option>
    <option value="servicenow">ServiceNow</option>
  </select>


  <app-button text="Primary Button"></app-button>
  <app-button text="Secondary Button" variant="secondary"></app-button>


  <h1>Button Component Testing</h1>

  <app-button text="Primary Button"></app-button>

  <app-button text="Secondary Button" variant="secondary"></app-button>

  <app-button text="Success Button" variant="success"></app-button>

  <app-button text="Danger Button" variant="danger"></app-button>

  <app-button text="Warning Button" variant="warning"></app-button>

  <app-button text="Info Button" variant="info"></app-button>

  <app-button text="Tertiary Button" variant="tertiary"></app-button>

  <app-button text="Disabled Button" variant="disabled"></app-button>

  <app-button text="Small Button" variant="primary" size="sm"></app-button>

  <app-button text="Large Button" variant="secondary" size="large"></app-button>

  <app-button text="Button with Icon" icon="bi-check-circle"></app-button>


</main>

<router-outlet />
