.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 82px;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.navigation {
  flex-shrink: 0;
}

.content-area {
  padding: 24px 20px;
  background: var(--brand-colors-gray-200);
  overflow-y: auto;
}
